.jumbotron {
    padding-top: 21px !important;
    padding-bottom: 20px !important;
  }

/* .col-md-3 {
    background: #303030;
} */


/* @media (max-width: 768px) {
    .navbar-collapse  {
        display: block;
    }
} */