.jumbotron {
    padding-top: 21px !important;
    padding-bottom: 20px !important;
}

.lowUV {
    background: green !important;
    color: black !important;
    padding: 2px;
    
}

.moderateUV {
    background: yellow !important;
    color: black !important;
    padding: 2px;
}
   
.mediumUV {
    background: orange !important;
    color: black !important;
    padding: 2px;
}

.highUV {
    background: red !important;
    color: black !important; 
    padding: 2px;
}


/* .col-md-3 {
    background: #303030;
} */

/* @media (max-width: 768px) {
    .navbar-collapse  {
        display: block;
    }
} */