
.jumbotron {
    padding-top: 16px !important;
    padding-bottom: 12px !important;
}

.lowUV {
    background: green !important;
    color: black !important;
    padding: 4px;
    padding-top: unset;
    padding-bottom: unset;
}

.moderateUV {
    background: yellow !important;
    color: black !important;
    padding: 4px;
    padding-top: unset;
    padding-bottom: unset;
}

.mediumUV {
    background: orange !important;
    color: black !important;
    padding: 4px;
    padding-top: unset;
    padding-bottom: unset;
}

.highUV {
    background: red !important;
    color: black !important;
    padding: 4px;
    padding-top: unset;
    padding-bottom: unset;
}



/* .col-md-3 {
    background: #303030;
} */

/* @media (max-width: 768px) {
    .navbar-collapse  {
        display: block;
    }
} */

/* html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
} */